<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 06.12.13
  Time: 18:45
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

    <ui:define name="body">
        <div class="container">
            <h:form id="form" styleClass="form-signin" role="form">
                <h:outputLabel value="#{RailWayBean.message}"/>
                <h2>Логин</h2><br/>
                <h:inputText id="login" value="#{RailWayBean.passenger.login}" styleClass="form-control"/><br/>
                <h2>Пароль</h2>
                <h:inputText id="password1" value="#{RailWayBean.passenger.login}" styleClass="form-control"/><br/>
                <h:commandButton value="Войти" action="#{RailWayBean.auth()}" styleClass="btn btn-lg btn-primary"/>
                <h:commandButton value="Зарегистрироваться" action="#{RailWayBean.pageRegister()}" styleClass="btn btn-lg"/>
            </h:form>
        </div>

    </ui:define>
        <ui:define name="title">
            authotization
        </ui:define>

    </ui:composition>
</h:body>

</html>