<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 23.12.13
  Time: 10:12
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

    <ui:define name="body">
        <div class="bs-docs-section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-example">
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                            <li><a href="#find">1.Поиск</a></li>
                            <li><a href="#fight">2.Рейсы</a></li>
                            <li><a href="#trafic">3.Тарифы</a></li>
                            <li><a href="#count">4.Количество</a></li>
                            <li><a href="#confirm">5.Подтверждение</a></li>
                            <li><a href="#orderIsReady">6.Заказ готов</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade" id="find">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="fight">
                            </div>
                            <div class="tab-pane fade" id="trafic">
                            </div>
                            <div class="tab-pane fade" id="count">
                            </div>
                            <div class="tab-pane fade" id="confirm">
                            </div>
                            <div class="tab-pane fade" id="orderIsReady">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h:form>
        <h2>Ваши заказы</h2><br/>
        <h:dataTable class="table table-bordered" style="text-align: center" value="#{RailWayBean.myPurchases}" var="purchase">
            <h:column>
                <f:facet name="header">№</f:facet>
                <h:outputText value="#{purchase.id}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Ст.отправления</f:facet>
                <h:outputText value="#{purchase.station_start}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Ст.прибытия</f:facet>
                <h:outputText value="#{purchase.station_finish}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Дата отправл</f:facet>
                <h:outputText value="#{purchase.date_start}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Время отправл</f:facet>
                <h:outputText value="#{purchase.time_start}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Время в пути</f:facet>
                <h:outputText value="#{purchase.time_in_way}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Цена</f:facet>
                <h:outputText value="#{purchase.price}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Класс</f:facet>
                <h:outputText value="#{purchase.name_class}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Количество</f:facet>
                <h:outputText value="#{purchase.ticket_count}" size="10"  />
            </h:column>
            <h:column>
                <f:facet name="header">Стоимость</f:facet>
                <h:outputText value="#{purchase.sum_for_count}" size="10"  />
            </h:column>
        </h:dataTable>
    </h:form>
    </ui:define>
        <ui:define name="title">
            myPurchases
        </ui:define>
        <ui:define name="nav">
            <h:commandButton value="На главную" styleClass="btn-lg btn btn-primary"
                             action="#{RailWayBean.toIndex()}">
            </h:commandButton>
        </ui:define>
    </ui:composition>
</h:body>

</html>