<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 07.12.13
  Time: 16:00
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="template.xhtml">

    <ui:define name="body">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-example">
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                            <li><a href="#find">1.Поиск</a></li>
                            <li><a href="#fight">2.Рейсы</a></li>
                            <li><a href="#trafic">3.Тарифы</a></li>
                            <li><a href="#count">4.Количество</a></li>
                            <li><a href="#confirm">5.Подтверждение</a></li>
                            <li  class="active"><a href="#orderIsReady">6.Заказ готов</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade" id="find">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="fight">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="trafic">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="count">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade" id="confirm">
                                Произошла ошибка.
                            </div>
                            <div class="tab-pane fade active in" id="orderIsReady">
                                <h:form>
                                    <h2>Ваша покупка оформлена!</h2>
                                    <h:commandButton value="На главную" styleClass="btn-lg btn btn-primary"
                                                     action="#{RailWayBean.toIndex()}">
                                    </h:commandButton>
                                    <h:commandButton value="Мои заказы" styleClass="btn-lg btn btn-primary"
                                                     action="#{RailWayBean.myPurchases()}">
                                    </h:commandButton>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ui:define>
        <ui:define name="title">
            purchaseReady
        </ui:define>

    </ui:composition>

</h:body>

</html>