<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: даша
  Date: 08.12.13
  Time: 22:08
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title><ui:insert name="title"/></title>
    <h:outputStylesheet library="bootstrap" name="css/bootstrap.css"/>
</h:head>

<h:body>

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="faces/authorization.xhtml">Вход</a></li>
                <li><a href="faces/register.xhtml">Регистрация</a></li>

            </ul>
            <h1>Электронная железнодорожная касса</h1>
        </div>
        <br/>


        <div>
            <ui:insert name="body"/>
        </div>

        <div align="center">
            <h:form> <ui:insert name="nav"/> </h:form>
        </div>

        <div class="modal-footer">
            <p>Курсовой проект &copy; Дарья Соколова</p>
        </div>

    </div>

</h:body>

</html>